In [2]:
# calculate the number of unique characters in a string
n[10]=str(input("enter a string:"))
count=0
for i in n[i1]:
    for i=n[i1]:
        i1++
        count=count+1
    if count==1:
        print("its a unique charater")
    else:
        print("its not a unique character ")

SyntaxError: invalid syntax (<ipython-input-2-65e1f96d968b>, line 5)

SyntaxError: invalid syntax (<ipython-input-2-65e1f96d968b>, line 5)

In [ ]:
# calculate number of words in a paragraph
n=input("enter a paragraph:")
count=0

Topics:
    Tuple
    Dictionary

In [5]:
empty=list()
empty1=[]

In [6]:
t=(2,3)
print(t)

(2, 3)
(2, 3)

In [ ]:
print(t[0])

In [ ]:
t.append(6)

In [ ]:
t[0]=10

In [ ]:
dir(t)

In [ ]:
t.index(0)

In [ ]:
t.index(2)

In [ ]:
t.count(1)

In [ ]:
t1=(2,3,4,5,6,1,1)
t1.count(1)

In [ ]:
t1.count(8)

In [ ]:
sum(t1)

In [ ]:
max(t1)

In [ ]:
min(t1)

In [ ]:
max(t)

In [ ]:
print(max(t1),min(t1),sum(t1))

In [33]:
t2=(24,'python',True,77.5)
print(t2)
print(t2[0])
print(t2[2:])
t2[1][2]  #to access the second element's third character

(24, 'python', True, 77.5)
24
(True, 77.5)
(24, 'python', True, 77.5)
24
(True, 77.5)

't'

't'

In [ ]:
t3 = (3,4,(20,66))
print(t3[2]) #to access the inside tuple
print(t3[2][1]) # to access the inside tuple's 1st element

In [ ]:
#create a list of lists where each sublist contains 3 subject marks of a student
student_marks=[[36,54,49],[24,38,65],[45,65,98]]
print(student_marks)

In [12]:
for student in range(len(student_marks)):
    #print(student_marks[student])
    print(student_marks[student]).append(sum(student_marks[student]))
student_marks

NameError: name 'student_marks' is not defined

NameError: name 'student_marks' is not defined

In [11]:
a=[7,8,4]
a.append(sum(a))
a

[7, 8, 4, 19]

[7, 8, 4, 19]

In [10]:
for i in a:
    print(i)

7
8
4
19
7
8
4
19

In [ ]:
for i in a:
    i=i+1
    print(i)

In [ ]:
a

In [ ]:
aplus=[]
for i in a:
    aplus.append(i+1)
print(aplus)

In [ ]:
a

In [ ]:
list(range(len(a)))

In [11]:
for i in range(len(a)):
    a[i]=a[i]+1

NameError: name 'a' is not defined

NameError: name 'a' is not defined

In [17]:
a

NameError: name 'a' is not defined

NameError: name 'a' is not defined

In [ ]:
a

Dictionary

In [16]:
d={'maths':75,'english':67,'chemistry':56}

In [17]:
print(d)

{'maths': 75, 'english': 67, 'chemistry': 56}
{'maths': 75, 'english': 67, 'chemistry': 56}

In [18]:
d['english']

67

67

In [20]:
d

{'maths': 75, 'english': 67, 'chemistry': 56}

{'maths': 75, 'english': 67, 'chemistry': 56}

In [21]:
d['physics']=90
d

{'maths': 75, 'english': 67, 'chemistry': 56, 'physics': 90}

{'maths': 75, 'english': 67, 'chemistry': 56, 'physics': 90}

In [22]:
d['chemistry']=45
d

{'maths': 75, 'english': 67, 'chemistry': 45, 'physics': 90}

{'maths': 75, 'english': 67, 'chemistry': 45, 'physics': 90}

empty dictionary - {},dict()

(key1.value,key2.value)

key and value are mapped by :

items are separated by ,

each item in the dictionary is key,value pair

keys are unique values

In [23]:
for i in d:
    print(i,end=' ')

maths english chemistry physics maths english chemistry physics

In [24]:
#to calculate sum of elements in it using for loop
s=0
for i in d:
    s+=d[i]
print(s)

277
277

In [25]:
# to access keys
print(d.keys())
#to access values
print(d.values())
#to acceess key value pairs
print(d.items())

dict_keys(['maths', 'english', 'chemistry', 'physics'])
dict_values([75, 67, 45, 90])
dict_items([('maths', 75), ('english', 67), ('chemistry', 45), ('physics', 90)])
dict_keys(['maths', 'english', 'chemistry', 'physics'])
dict_values([75, 67, 45, 90])
dict_items([('maths', 75), ('english', 67), ('chemistry', 45), ('physics', 90)])

In [26]:
#to calculate sum of values in a dictionary
sum(d.values())

277

277

In [28]:
for key,value in d.items():
    print(key,':',value)

maths : 75
english : 67
chemistry : 45
physics : 90
maths : 75
english : 67
chemistry : 45
physics : 90

In [29]:
help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [30]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 75, 'english': 67, 'chemistry': 45, 'physics': 90, 'total': 277}
{'maths': 75, 'english': 67, 'chemistry': 45, 'physics': 90, 'total': 277}

In [31]:
#to remove an item
d.pop('total')
print(d)

{'maths': 75, 'english': 67, 'chemistry': 45, 'physics': 90}
{'maths': 75, 'english': 67, 'chemistry': 45, 'physics': 90}

create a dictionary with 3 students data

key - student name

value - list of 3 subjects

In [32]:
std_marks = {'vaish':[87,98,78],'jaya':[56,87,67],'sharath':[76,87,90]}
std_marks

{'vaish': [87, 98, 78], 'jaya': [56, 87, 67], 'sharath': [76, 87, 90]}

{'vaish': [87, 98, 78], 'jaya': [56, 87, 67], 'sharath': [76, 87, 90]}

In [34]:
std_marks['jaya']

[56, 87, 67]

[56, 87, 67]

In [35]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
std_marks

{'vaish': [87, 98, 78, 263],
 'jaya': [56, 87, 67, 210],
 'sharath': [76, 87, 90, 253]}

{'vaish': [87, 98, 78, 263],
 'jaya': [56, 87, 67, 210],
 'sharath': [76, 87, 90, 253]}