# jupyter markdown
## jupyter markdown
### jupyter markdown
#### jupyter  markdown
##### jupyter markdown

- point 1
    - **sub point 1.1**
    - *sub point 1.2*
    - ***sub point 1.3***  
- point 2
- point 3

### python introduction
- python 3
- python can be used as functional programming
- python can be used as scripting programming
- python initially designed by **Guido Van Rossum** in 1991

In [2]:
# Input and Output Function
# output Function
print("hello world")
print("welcome to python programming")

hello world
welcome to python programming

In [4]:
print("markdown cell", end=' ')
print("code cell")

markdown cell code cell

In [5]:
# input function
print("enter your name: ")
a=input(' ')
print('your name is ', a)

enter your name:
 bhavya
your name is  bhavya

### inserting an image using markdown

![image]()

### inserting a site using markdown
[site](https://www.facebook.com/)

# Fundamental Data Types

1. int 
2. float
3. complex
4. boolean
5. string

In [6]:
# basic example
x=10
print( type(x))

<class 'int'>

In [7]:
print(x)

10

In [9]:
x=3.14
print(x)
print(type(x))

3.14
<class 'float'>

In [11]:
x="true"
print(x)
print(type(x))

true
<class 'str'>

In [15]:
x= True
print(type(x))

<class 'bool'>

In [19]:
x=complex(5,4)
print(type(x))

<class 'complex'>

In [20]:
c1=5+6j
c2=3+6j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(8+12j)
(2+0j)
(-21+48j)

In [21]:
a=10
b=5
a>b

True

In [22]:
a=10
b=5
a<b

False

In [23]:
s1="abc"
s2="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [26]:
s1="100"
print(type(s1) )

<class 'str'>

In [27]:
i=100
print(type(i))

<class 'int'>

# data type conversions

In [28]:
i=100
print(type(i))
s1=str(i) #str converts the input into starting type
print(type(s1))
f1=float(i) #float() converts he input into float type 
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [29]:
s1="200"
print(type(s1))
b=int(s1)
print(type(b))
f=2.5
a=int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [32]:
# a number is given 23456
# digit count
s=23456
print(len(str(s)))

5

In [33]:
#arithemetic operators
a=20
b=30
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a**b)
print(a//b)

50
-10
600
20
0.6666666666666666
1073741824000000000000000000000000000000
0

In [34]:
#relational operators
x=20
y=10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [35]:
#logical operators
x=20
y=30
print(x>=10 and x<=20)
print(x>=5 and x<=20)
print(not x)

True
True
False

In [37]:
#membership operators
str1="abc"
print('a' in str1)
print('d' not in str1)

True
True

# conditional statements
1. if
2. elif
3. else

## syntax
- if condition:


 
 
 
 
 statements
 
- elif condition:







statements
 
- else:


 
 
 
 
 
 statements

In [48]:
#to check the given number is even or odd
n=int(input("enter the number :"))
if n%2==0:
    print("even")
else:
    print("odd")

enter the number :27
odd

In [52]:
#to check whether the number is a multiple  of 3 and 5
n=int(input("enter a number :"))
if n%3==0 and n%5==0:
    print("it is a multiple of 3 and 5")
else:
    print("it is not multiple of 3 and 5")

enter a number :15
it is a multiple of 3 and 5

In [62]:
#to check the given number is positive , negative or zero
n=int(input("enter a number:"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
elif n==0:
    print("zero")
else:
    print("invalid")

enter a number:27
positive

In [64]:
#to check whether the given year is leap year or not 
n=int(input("enter an year: "))
if n%4==0:
    print("leap year")
else:
    print("not a leap year")

enter an year: 2016
leap year

In [67]:
#to check whether the person is eligible for voting or not 
n=int(input("enter the age of a person"))
if n>=18 and n<=85:
    print("he is eligible for voting")
else:
    print("he is not eligible")

enter the age of a person24
he is eligible for voting